.contact-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
  gap: 50px;

  font-family: "Josefin Sans", sans-serif;
}
.container-1 {
  width: 40%;
  background-color: rgb(13, 13, 13);
  color: rgba(216, 211, 211, 0.866);
  display: flex;
  padding: 30px;
  color: red;
  border-radius: 20px;
  box-shadow: rgb(33, 33, 33) 3px 3px 6px 0px inset, rgba(29, 29, 29, 0.5) -3px -3px 6px 1px inset;
  border-radius: 10px;
  border-bottom: solid red 3px;
  justify-content: center;
}
.container-1 form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.input-container label {
  font-size: 18px;
  padding: 10px;
}
.input-container input {
  display: flex;
  width: 100%;
  border: solid rgba(216, 211, 211, 0.866) 3px;
  border-radius: 20px;
  color: rgba(216, 211, 211, 0.866);
  padding: 20px;
  height: 40px;
  font-size: 20px;
  background-color: rgb(13, 13, 13);
  font-family: "Josefin Sans", sans-serif;
}

.message-container textarea {
  width: 100%;
  color: #d8d3d3dd;
  height: 150px;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  font-size: 20px;
  display: flex;
  border: solid rgba(216, 211, 211, 0.866) 3px;
  border-radius: 20px;
  background-color: rgb(13, 13, 13);
}
.send button {
  width: 100px;
  height: 40px;
  border-radius: 30px;

  border: none;
  outline: none;
  cursor: pointer;

  font-weight: 600;
  background-color: red;
}
.container-2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.container-2-1 {
  display: flex;
  color: rgba(216, 211, 211, 0.866);
  gap: 10px;
}
.icon-container-1 svg {
  width: 30px;
  height: 30px;
  color: red;
}
.social-meadia-icons {
  display: flex;
  gap: 20px;
}
.social-meadia-icons a {
  text-decoration: none;
  color: rgba(216, 211, 211, 0.866);
}
.social-meadia-icons svg {
  width: 30px;
  height: 30px;
}
.footer {
  color: rgba(216, 211, 211, 0.866);
  margin-top: 30px;
  font-size: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 10rem;
  gap: 5px;
  font-family: "Josefin Sans", sans-serif;
}
.footer svg {
  color: red;
  width: 25px;
  height: 30px;
}
@media (max-width: 600px) {
  .contact-container {
    flex-direction: column;
  }
  .container-1 {
    width: 100%;
  }
  .container-2 {
    width: 100%;
  }
}
