.heading-container{
    display: flex;
    width: 100%;
    background-color: black;
    color:red;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: 'Josefin Sans', sans-serif;
    /* margin-top: 20px; */
   
}
.line{
    height:2px ;
  background-color: rgba(216, 211, 211, 0.866);
  width: 20%;
  border-radius: 5px;


}
.size{
    font-size: 30px;
}
.skills-about-container{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    background-color: black;
    padding: 30px;
    color:rgba(216, 211, 211, 0.866);
    width: 100%;
    gap: 20px;
    flex-direction: column;
}
.about-container{
    background-color: rgb(13, 13, 13);
    padding: 100px 200px;
    border-radius: 5px;
    display: flex;

    justify-content: center;
    align-items: center;
    font-size: 23px;
    /* border-top-right-radius: 60px;
    border-bottom-left-radius: 60px; */
    box-shadow: rgb(33, 33, 33) 3px 3px 6px 0px inset, rgba(29, 29, 29, 0.5) -3px -3px 6px 1px inset;
    line-height: 35px;

height: 55vh;
border-bottom: solid 2px red;
border-right: solid 2px red;
}
.skill-container{
    width: 100%;
    display: flex;
justify-content:center; 
}
.section-name{
    display: flex;
    justify-content: center;
    color: red;
font-size: 22px;
}
.section-name h2{
    background-color: rgb(13, 13, 13);
    padding:  5px 20px;
    text-align: center;
    border-radius: 50px;
   
}
.skills-name{
    width: 100%;
    height: 50vh;
    background-color: rgb(13, 13, 13);
   border-radius:10px;
    box-shadow: rgb(33, 33, 33) 3px 3px 6px 0px inset, rgba(29, 29, 29, 0.5) -3px -3px 6px 1px inset; 
    padding: 100px 20px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
        gap: 25px;
      justify-content: center;
       border-left: solid 2px red;
       border-bottom: solid 2px red;
    
  
}

.language-name{
    background-color: black;
    width: 120px;
text-align: center;

    height: 120px;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    display: flex;
    align-items: center;
    color: red;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
    box-shadow: rgb(33, 33, 33) 3px 3px 6px 0px inset, rgba(29, 29, 29, 0.5) -3px -3px 6px 1px inset;
    border-radius: 50%;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;

}
.language-name:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
@media (max-width:600px) {
    .skills-about-container{
  padding: 20px;
    }
    .about-container{
        width: 100%;
        height: 90vh;
        font-size: 20px;
        padding:  0px 20px;
        border-radius: 5px;
        border: none;
       line-height: 25px;
        border-bottom: solid red 2px; 
    }
    .section-name h2{
        font-size: 18px;
    }
    .skills-name{
        width: 100%;
        border: none;
        height: 90vh;
        justify-content: center;
        border-radius: 5px;
        border-bottom: solid red 2px; 
        box-shadow: rgb(33, 33, 33) 3px 3px 6px 0px inset, rgba(29, 29, 29, 0.5) -3px -3px 6px 1px inset; 
        padding: 60px 40px;
        gap: 20px;
       
    }
    .language-name{
        width: 100px;
        height:100px;
        font-size: 20px;

    }
    .skill-container{
        display: flex;
        justify-content: center;
        

    }
 
}